# Node modules and package managers
node_modules/
package-lock.json
yarn.lock

# Expo-specific
.expo/
.expo-shared/

# OS and editor files
.vscode/
.DS_Store

# Build folders
android/app/build/
ios/build/
ios/Pods/
android/.gradle/
android/.idea/
android/local.properties

# Logs and temp files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Metro bundler cache
.expo/
.expo-shared/
.expo/web-build/
